.bigTheme{
    font-size: 18px;
}
.bigTheme span{
    font-size: 14px;
}
.littleTheme{
    font-size: 14px;
}
.littleTheme span{
    font-size: 12px;
}
.color-red{
    color: rgba(255, 0, 0, .7);
}
.color-green{
    color: rgba(40, 170, 40, 0.7);
}
.priceInfo{
    text-align: center;
    padding: 10px 5px 5px;
    float: left;
}
.otherInfo{
    float: left;
    margin-left: 6px;
}
.otherInfo table{
    text-align: center;
    font-size: 13px;
}
.otherInfo table td{
    text-align: left;
    padding: 3px 10px;
}